<h1 class="page-title">
  VIDEO & FILM
</h1>
<div class="row video-row">
  <div class="col-4">
    <a class="video-click" (click)="openDialog()">
      <!-- <p class="video-click-title">Watch Video</p> -->
      <img style="width: 100%;" src="../../assets/gif/TONIGHT.gif">
    </a>
    <h4 class="mt-2">
        Tonight - Animated Short Film
    </h4>
  </div>
  <div class="col-4">
    <img style="width: 100%;" src="../../assets/gif/Stories-with-the-Pope_1.gif">
    <h4 class="mt-2">
        Ya'll throwing down for your dog or nah?
    </h4>
  </div>
  <div class="col-4">
    <img style="width: 100%;" src="../../assets/gif/Stories-with-the-Pope_Ep_2_FINAL.gif">
    <h4 class="mt-2">
        Would you talk to a girl that could see the future?
    </h4>
  </div>
</div>
<div class="row video-row">
  <div class="col-4">
    <img style="width: 100%;" src="../../assets/gif//USAA-Box-model_Final.gif">
    <h4 class="mt-2">
        USAA Real Estate Box Reveal
    </h4>
  </div>
</div>