<h1 class="page-title">
  DESIGN
</h1>
<div class="row">
  <h4 class="col-12">
    Flyers
  </h4>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>
  <div class="col-3 design-square-container">
    <img src="../../assets/img/c-logo.png">
  </div>


</div>